.head {
  background-color: lightblue;
  min-height: 50px;
  /*text-align: center;*/
}

.form {
  background-color: darkseagreen;

}

[class*="col-md-"]{
  font-size: 17px;
}


ul {
  list-style-type: none;
}

ul li:hover {
  background: darkgray;
}

li {
  background-color: lightgoldenrodyellow;
}

.taskItems{
  background-color:lightgoldenrodyellow;
}
.colorChange {
  background-color: mistyrose;
}
