/*
.headingTitle {
  text-align: center;
  height: 100px;
  background-color: cadetblue;
  margin-bottom: : 0px;
  margin-left: 100px;
  margin-right: 100px;
}
h1 {
  padding: 30px;
}

.taskForm {
  background-color: azure;
  height: 30px;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.formContainer {
  width: 200px;
  margin: auto;
}

button {
  float:right;
}

ul {
  margin-top: 0px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 0;
  list-style-type: none;
}

ul li:hover {
  background: darkgray;
}

li{
  background-color: linen;
  margin-top: 2px;
  padding: 3px;

}
.colorChange {
  background-color: mistyrose;
}*/
